body {
  position: relative;
  font-family: Helvetica, sans-serif;
  margin: 0;
  background: #ffffff;
  margin: 0;
  font-family: Arial, sans-serif;
}

body::after {
  content: '';
  display: block;
  height: 50px;
  /* Set same as footer's height */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======= Search Bar ======= */
.search-bar {
  display: flex;
  background-color: #f8d75d;
  border-radius: 10px;
  overflow: hidden;
  flex: 1; /* Search bar lebar fleksibel */
  margin: 0 20px; /* Jarak kiri kanan */
  height: 30px;
  max-width: auto;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 0 10px;
  flex: 1;
  justify-content: flex-end; /* Input isi ruang */
}

.search-bar .search-btn  {
  padding: 0 5px;
  justify-content:left ;
  height: 25px;
  width: 60px;
  font-size: 20px;
  cursor: pointer;
  align-items: center;
  color:#002f5f
}

/* ======= Ikon Notifikasi & Profil ======= */
.icons {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  margin-right: 20px;
  
}

.icons svg {
  width: 35px;
  height: 35px ;
  flex-wrap: wrap;
  object-fit: cover;
  border-radius: 50%;
  color: #f8d75d;
}

/* sidebar*/
.trigger-sidebar {
  position: fixed ;
  height: 70px ;
  width: 100% ;
  display: flex; /* Aktifkan flexbox */
  align-items: center; /* Sejajarkan vertikal */
  justify-content: space-between; /* Ruang antar elemen */
  background: #183d6f; /* Contoh warna nav */
  padding: 5px;
  background-color: #163958;
  z-index: 998;
 top: 0px;
}

.garis-tiga {
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
  color: #f9d65c;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* posisi awal sidebar tersembunyi */
  width: 250px;
  height: 100%;
  background: #163c65;
  color: #fff;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
  padding: rem;
  z-index: 999px;
}

#toggle-sidebar:checked ~ .sidebar {
  left: 0; /* tampilkan sidebar */
}

.close-btn {
  position: absolute;
  color: #163958;
  display: flex;
  top: 2px;
  left: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.logo {
  align-items:flex-end;
  background: #f8d75d;
  height: 150px;
  width: 250px;
  top: 1px;
  padding: 5px;
  justify-content:flex-end;
  text-align: center;
  color: #163c65;
  margin-top: 0px;
}

.logo a {
 margin: 0.5rem;
  padding: 0.5rem 1rem;
 width: 20px;
  border: none;
  background: #163c65;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 60px;
}

.align-logo-sidebar {
  margin-top: 20px;
}

.align-sidebar {
  display: flex;
  flex-direction: column;
 
}

.spasi-sidebar {
  gap: 10px;
}

.icon-sidebar {
  margin : 2px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  margin-left: 10px;
}

.sidebar nav ul li {
  margin: 1rem 0;
}

.sidebar nav ul li a {
  color: #f8d75d;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-right:5px;
}

.sidebar nav ul li a:hover {
  text-decoration: underline;
}

.setting {
  justify-content:flex-end;
  align-content:flex-end;
  margin-top:  25%;
  gap: 9px;

}

/* ======= headline (bagian kotak gede di atas home) ======= */
.headline {
  display: flex;
  margin-top: 50px ;
  justify-content: space-evenly;
  background: #ffdb58;
  text-align: center;
  padding: 50px 20px;
  border-radius: 5px;
  border-color: #163958;
  border: 5px solid #163c65;
  font-weight: bold;
  text-decoration: none;
}

.headline-text {
  color: #163958;
}

.headline-text h1 {
  font-weight: bold;
  font-size: 48px;
  margin: 0;
}

.headline-text h2 {
    font-size: 20px;
}

.headline-buttons{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  background: #163958;
  color: #fff;
  border: none;
  padding: 15px 40px;
  border-radius: 8px;
  box-shadow: 4px 4px 0 #555;
  cursor: pointer;
  font-weight: bold;
}


/* ======= fitur ======= */
.fitur {
  text-align: center;
  border-radius: 10px;
  padding: 20px 60px;
  margin: 2px;
}

.fitur h1 {
  background: #163958;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  display: inline-block;
}

.blue-box {
  background-color: #163958; /* biru gelap */
  padding: 30px 40px; /* jarak dalam kotak */
  border-radius: 20px; /* sudut membulat */
  display: flex; /* supaya isi sejajar horizontal */
  justify-content: center; /* posisi isi di tengah horizontal */
  gap: 10px; /* jarak antar tombol di dalamnya */
  max-width: 785px; /* opsional: batasi lebar kotak */
  margin: auto;
  align-items: center;
  text-align: center; /* posisi kotak ke tengah halaman */
}

.fitur-gris {
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 15px;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 20px 0;

}

/* ini bisa dihapus? 
.fitur-ai {
  background: #ffdb58;
  border-radius: 10px;
  border: 2px solid #002f5f;
  margin: 10px;
  padding: 40px;
  width: 100px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: 4px 4px 0px #070000;
  cursor: pointer;
}
  */
.card-button {
  position: relative;
  width: 200px;
  height: 200px;
  background: #f9d65c; /* kuning */
  border: 3px solid #163958; /* garis biru */
  border-radius: 20px;
  box-shadow: 8px 8px 0 #555; /* bayangan */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: auto;
  gap: 20px;
}

.card-button .corner-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  transform: none;
  width: 40px;
  height: 40px;
}

.card-button .main-logo {
  width: 100px;
  height: auto;
  margin-bottom: 2px;
  color: #163958;
}

.card-button span {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #163958;
}

.fitur-grid {
  display: flex;
  border-radius: 15px;
  justify-content: center;
  gap: none;
  margin: 30px ;
}

.fitur-card {
  background: #163958;
  border-radius: 10px;
  border: 2px solid #002f5f;
  color: #ffffff;
  margin: 13px;
  padding: 20px 50px;
  width: 200px;
  height: 200px;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px 0px #999;
  cursor: pointer;
}

.fitur-card img {
  width: 60px; /* Ukuran ikon */
  height: auto;
  align-items: center;
  margin-bottom: 25px;
  border-radius: 10px;
  margin: auto;
}

.fitur-card span {

  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #ffffff;
}

.fitur-damn {
  background: #163958;
  border-radius: 10px;
  border: 2px solid #002f5f;
  color: #ffffff;
  margin: 10px;
  padding: 20px;
  width: 180px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: 4px 4px 0px #999;
  cursor: pointer;
}

/* ======= Breaking News ======= */
.breaking-news {
  background-color: #163958; /* Biru tua */
  border-radius: 8px;
  padding: 10px;
  color: #fff;
  max-height: 30 px; /* Biar rapih */
}

.breaking-title {
  background-color: #f9d65c; /* Kuning */
  display: block;
  padding: 5px 15px;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
  color: #333;
}

.breaking-content {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 10px;
}

.breaking-content img {
  max-width: 120px;
  border-radius: 5px;
}

.breaking-content p {
  font-size: 12px;
  line-height: 1.4;
  color: #fff;
}
 /* ======= Footer ======= */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #002f5f;
  color: #fff;
  text-align: center;
  padding: 20px;
}
.last {
  cursor: pointer;
  color: #ffffff;
}


@media screen and (max-width: 1170px) and (max-height: 2532px)  {
  .card-button .corner-icon {
    width: 30px;
    height: 30px;
  }
  .fitur {
    text-align: center;
    border-radius: 10px;
    padding: 20px 60px;
    margin-top: 20px;
  }
  .card-button {
    position:center;
    width: 120px;
    height: 120px;
    background: #f9d65c; /* kuning */
    border: 3px solid #163958; /* garis biru */
    border-radius: 20px;
    box-shadow: 8px 8px 0 #555; /* bayangan */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .card-button .main-logo {
    width: 50px;
    height: auto;
    color: #163958;
  }
  .card-button span {
    font-family: Arial, sans-serif;
  
    font-size: 16px;
    color: #163958;
  }

  .fitur {
    padding: 0px 0px;
  }
  .blue-box {
    background-color: #163958; /* biru gelap */
    padding: 30px 40px; /* jarak dalam kotak */
    border-radius: 20px; /* sudut membulat */
    display: flex; /* supaya isi sejajar horizontal */
    justify-content: center; /* posisi isi di tengah horizontal */
    gap: 10px; /* jarak antar tombol di dalamnya */
    max-width: 785px; /* opsional: batasi lebar kotak */
    /* min-width: 600px; opsional: batasi lebar kotak */
    margin: 5px;
    align-items: center;
    text-align: center; /* posisi kotak ke tengah halaman */
  }
  .fitur-grid {
    display: flex;
    gap: 0px;
    border-radius: 15px;
    justify-content: center;
    margin: 10px 0;
  }

  .fitur-card {
    background: #163958;
    border-radius:20px;
    border: 2px solid #002f5f;
    color: #ffffff;
    margin: 5px;
    padding: 20px 20px;
    width: 120px;
    height: 120px;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 0px #999;
    cursor: pointer;
  }

.fitur-card img {
  width: 50px; /* Ukuran ikon */
  height: auto;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
  margin: auto;
}

  .fitur-card span {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
  }
}
